.fdbg {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-left: 10px;
  width: 45px;
  height: 18px;
  border: 3px solid rgba(131, 45, 43, 0.7);
  transition: all 1s;
  /*, max-width 2s, height 2s;*/
}
.fdbg.pop {
  width: 400px;
  height: auto;
}
.fdbg > p {
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
}
.fdbg > p:nth-child(odd) {
  background-color: rgba(135, 78, 77, 0.7);
}
.fdbg > p:nth-child(even) {
  background-color: rgba(193, 145, 144, 0.7);
}
