.wtfnav {
  background-color : transparent;
}
.wtfnav--fixed {
  position: fixed;
}
.wtfhome {
  background-image: url('../img/orez.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
}
.wtflookbook--v1 {
  margin-left: 150px;
}
.wtflookbook--v2 {
  display: flex;
  justify-content: space-between;
}
.wtfnav__item {
  margin-bottom: 50px;
  list-style-type: none;
  margin-right: 20px;
}
body {
  margin: 0;
}
i {
  font-size: 40px;
}
a:hover {
    text-decoration: underline;
}
.wtfnav__link {
  text-decoration: none;
}
.wtfnav__link--transition {
  transition: color 0.5s ease-in;
}
.wtfnav__link--black {
  color: black;
}
.wtfnav__link--white {
  color: white;
}
