/* START ----------------------- basic setup -------- */
body {
  margin:0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}
a {
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
/* END----------------------- basic setup -------- */
/* START ---------------- navigacia ------------- */
.wtfnav {
  background-color : transparent;
}
.wtfnav--white {
  color: white;
}
.wtfnav--fixed {
  position: fixed;
}
.wtfnav__item {
  padding-bottom: 25px;
  padding-top: 25px;
  list-style-type: none;
  font-size: 20px;
  text-align: center;
}
.wtfnav--logo {
  width : 200px;
  margin-left: auto;
  margin-right: auto;
}
.wtfnav ul {
  margin: 0;
  padding-left: 0;
}
.wtfnav__link {
  text-decoration: none;
}
/* END ---------------------- navigacia end ------------- */
.wtfscreen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  transition: top 400ms ease-in-out;
  overflow: hidden;
}
.wtfscreen--show {
  top: 0;
}
.wtfscreen--up {
  top: -100vh;
}
.wtfscreen--down {
  top: 100vh;
}
.wtfscreen--bgimg {
  background-image: url('../assets/foto.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
